/*
* LOADING CONTAINER-------------------------------------------------------------------------------
*/
.loading-container
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*background: radial-gradient(rgb(62, 62, 70), rgb(26, 26, 29));*/
    background-image  : -webkit-radial-gradient(10px 50%, circle, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background-image  : -webkit-radial-gradient(top left, ellipse farthest-corner, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background : -webkit-radial-gradient(center, ellipse, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    z-index: 20;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease-out;
}

.loading-container .sentence-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loading-container .sentence-container .sentence
{
    font-size: 1.2vw;
    font-family: helvetica;
    color: #ffffff;
    opacity: 0;
    transition: opacity 1s ease;
}

.loading-container .sentence-container .sentence.isVisible
{
    opacity: 1;
}

.loading-container .sentence-container .sentence.first
{
    transform: translateY(100%);
}

.loading-container .sentence-container .sentence.third
{
    transform: translateY(-100%);
}

.loading-container .skip-button
{
    position: absolute;
    bottom: 3vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.loading-container .skip-button
{
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    opacity: 0.8;
    cursor: pointer;
    z-index: 21;
}

.loading-container .load-bar
{
    position: absolute;
    width: 100%;
    height: 0.25vh;
    left: 0;
    bottom: 0px;
    background: #ffffff;
    transform-origin: 0;
    transform: scaleX(0);
    animation-name: scaleLoadbar;
    animation-duration: 9s;
    animation-timing-function: linear;
}


/*
* ANIMATE LOAD BAR-------------------------------------------------------------------------------
*/
@keyframes scaleLoadbar
{
    0% {transform: scalex(0)}
    100% {transform: scaleX(1)}
}

/*
* Icon container
*/

.loading-container .icon-container
{
    position: absolute;
    transition: transform 0.5s ease;
}

.loading-container .icon-container svg
{
    position: absolute;
    width: 5vw;
    height: 5vw;
    animation-name: rotateIcons;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    user-select: none;
    -webkit-user-drag: none;
}

.loading-container svg.fingerprint {left: 15vw;top: 20vh;fill:#e74c3c}
.loading-container svg.radioactive {left: 35vw;top: 15vh;fill:#2ecc71}
.loading-container svg.wheel {left: 55vw;top: 16vh;fill:#1abc9c}
.loading-container svg.wifi {left: 80vw;top: 22vh;fill:#9b59b6}
.loading-container svg.hammer {left: 20vw;top: 75vh;fill:#f1c40f}
.loading-container svg.lightbulb {left: 50vw;top: 62vh;fill:#e67e22}
.loading-container svg.laptop {left: 75vw;top: 70vh;fill:#3498db}


/*
* KEYFRAMES-------------------------------------------------------------------------------
*/
@keyframes rotateIcons
{
    0% {transform: rotateZ(-6deg) translateY(-10px)}
    100% {transform: rotateZ(6deg translateY(10px))}
}


/*
* TITLE PART
*/
.title-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s linear;
}

.title-container.isVisible
{
    opacity: 1;
}

.title-container svg
{
    position: absolute;
    width: 8vw;
    height: 8vw;
    fill: white;
    top: 35vh;
    z-index: 1;
}

.title-container svg.t1-letter{left: 10vw;}
.title-container svg.e-letter{left: 18vw;}
.title-container svg.c-letter{left: 26vw;}
.title-container svg.h-letter{left: 34vw;}
.title-container svg.s-letter{left: 48vw;}
.title-container svg.t2-letter{left: 56vw;transform-origin: 50% 100%;}
.title-container svg.o-letter{left: 64vw;transform-origin: 50% 50%;}
.title-container svg.r-letter{left: 73vw;}
.title-container svg.y-letter{left: 81vw;}

.title-container svg.t2-letter.launch-anim
{
    animation-name: letterT2;
    animation-duration: 1s;
    animation-direction: alternate;
}

.title-container svg.o-letter.launch-anim
{
    animation-name: letterO;
    animation-duration: 4s;
    animation-delay: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/*
* KEYFRAMES LETTER-------------------------------------------------------------------------------
*/
@keyframes letterT2
{
    0% {transform: rotateZ(0deg)}
    25% {transform: rotateZ(-5deg)}
    50% {transform: rotateZ(18deg)}
    100% {transform: rotateZ(0deg)}
}

@keyframes letterO
{
    0% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(-360deg)}
}


/*
* START BUTTON-------------------------------------------------------------------------------
*/
.title-container .start-button
{
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    border-radius: 28px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    height: 6vh;
    width: 14vw;
    color: rgb(26, 26, 29, 1.00);
    user-select: none;
    -webkit-user-drag: none;
}


/*
* SECTION STYLES-------------------------------------------------------------------------------
*/
.section {
    /*height: 100%;
    width: 100%;
    position: relative;*/
    z-index: 0;
    position: relative;
}
.section .techno-title {
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    color: #fff;
    position: absolute;
    top: 9vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    user-select: none;
}
.section .techno-3delement {
    height: 100vh;
    width: 100vh;
}
.section .techno-discover .discover-button {
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    border-radius: 28px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    height: 5vh;
    width: 9.5vw;
}
.section .techno-footer {
    position: absolute;
    bottom: 2vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    color: #fff;
}
.section .techno-footer button {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9vw;
    margin: 0 10px 0 10px;
    user-select: none;
    cursor: pointer;
    transition: color 0.8s ease-in;
}
.section .techno-footer button:hover {
    color:  rgb(238, 238, 238);
}
.section .techno-footer i {
    transform: scale(0.45);
}
.section .next-slide {
    width: 5vw;
    height: 10vh;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 97.5vw;
    transform: translate(-50%, -50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}


/*
* SLIDES STYLES-------------------------------------------------------------------------------
*/
.slide {
    display: flex;
    flex-direction: column;
}
.slide .old-techno-content {
    background-color: #fff;
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.slide .old-techno-content .old-techno-left {
    height: 75vh;
    width: 30vw;
}
.slide .old-techno-content .old-techno-left .old-techno-info {
    height: 37.5vh;
    width: 30vw;
    background: radial-gradient(rgba(26, 26, 29, 0.9), #1a1a1d);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    color: white;
    padding-right: 5vw;
}
.slide .old-techno-content .old-techno-left .old-techno-info .techno-date {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}
.slide .old-techno-content .old-techno-left .old-techno-info .techno-name {
    font-family: 'Staatliches', cursive;
    font-size: 2.8vw;
}
.slide .old-techno-content .old-techno-left .old-techno-info .techno-author {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
}
.slide .old-techno-content .old-techno-left .old-techno-visual {
    height: 37.5vh;
    width: 30vw;
    background-color: grey;
    overflow: hidden;
}
.slide .old-techno-content .old-techno-left .old-techno-visual img {
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}
.slide .old-techno-content .old-techno-right .old-techno-text {
    height: 75vh;
    width: 70vw;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.slide .old-techno-content .old-techno-right .old-techno-text .text-container {
    background-color: rgba(0, 0, 0, 0.50);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide .old-techno-content .old-techno-right .old-techno-text .text-container .return-techno{
    position: absolute;
    top: 4vh;
    right: 2.5vw;
    color: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    cursor: pointer;
    height: 4vh;
    width: 10vw;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 28px;
    transition: all 0.2s ease-out;
}
.slide .old-techno-content .old-techno-right .old-techno-text .text-container .return-techno:hover{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 28px;
    color: #fff;
}
.slide .old-techno-content .old-techno-right .old-techno-text .text-container .return-techno span{
    padding-right: 0.5vw;
}
.slide .old-techno-content .old-techno-right .old-techno-text .text-container p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    width: 50vw;
}
.slide .old-techno-content .old-techno-right .old-techno-text img {
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}
.slide .timeline-content {
    height: 25vh;
    width: 100vw;
    position: relative;
}
.slide .timeline-content .next-slide{
    width: 5vw;
    height: 10vh;
    background-color: white;
    position: absolute;
    top: 50vh;
    left: 97.5vw;
    transform: translate(-50%, -50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}


/*
* SECTION CUSTOM COLORS-------------------------------------------------------------------------------
*/
.aviation {
    background: radial-gradient(rgba(52, 152, 219, 0.5), #3498db);
}
.aviation .discover-button {
    color: #3498db;
}

.watchmaking {
    background: radial-gradient(rgba(26, 188, 156, 0.5), #1abc9c);
}
.watchmaking .discover-button {
    color: #1abc9c;
}

.paymentmethod {
    background: radial-gradient(rgba(231, 76, 60, 0.5), #e74c3c);
}
.paymentmethod .discover-button {
    color: #e74c3c;
}

.telephony {
    background: radial-gradient(rgba(46, 204, 113, 0.5), #2ecc71);
}
.telephony .discover-button {
    color: #2ecc71;
}


/*
* NAVIGATION-------------------------------------------------------------------------------
*/

/*#fp-nav {
    margin-left: 1vw;
    z-index: 0;
}
#fp-nav ul li {
    margin: 18px 7px;
    color: red;
}
#fp-nav ul li a span {
    background: white !important;
}
#fp-nav ul li a .fp-sr-only {
    font-family: 'Roboto', sans-serif;
}*/


/*
* POP UP TECHSTORY-------------------------------------------------------------------------------
*/
.techstory-popup{
    height: 100vh;
    width: 100vw;
    /*background: radial-gradient(rgb(62, 62, 70), rgb(26, 26, 29));*/
    background-image  : -webkit-radial-gradient(10px 50%, circle, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background-image  : -webkit-radial-gradient(top left, ellipse farthest-corner, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background : -webkit-radial-gradient(center, ellipse, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: opacity;
    transform: translateY(-100%)
}

.techstory-popup-title{
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    color: #fff;
}

.techstory-popup-text{
    position: absolute;
    bottom: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    line-height: 160%;
}


.techstory-popup-button-close{
    position: absolute;
    bottom: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    border-radius: 28px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    height: 5vh;
    width: 5vh;
    border: 2.5px solid white;
    border-radius: 50%;
}


/*
* POP UP ABOUT-------------------------------------------------------------------------------
*/
.about-popup{
    height: 100vh;
    width: 100vw;
    /*background: radial-gradient(rgb(62, 62, 70), rgb(26, 26, 29));*/
    background-image  : -webkit-radial-gradient(10px 50%, circle, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background-image  : -webkit-radial-gradient(top left, ellipse farthest-corner, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    background : -webkit-radial-gradient(center, ellipse, rgb(62, 62, 70) 0%, rgb(26, 26, 29) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: opacity;
    transform: translateY(-100%)
}

.about-popup-title{
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Staatliches', cursive;
    font-size: 3vw;
    color: #fff;
}

.about-popup-text{
    position: absolute;
    bottom: 35vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    line-height: 160%;
}


.about-popup-button-close{
    position: absolute;
    bottom: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    border-radius: 28px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    height: 5vh;
    width: 5vh;
    border: 2.5px solid white;
    border-radius: 50%;
}


/*
* DISPLAY-------------------------------------------------------------------------------
*/
.techstory-popup.display{
    opacity: 1;
    transform: translateY(0%);
}

.about-popup.display{
    opacity: 1;
    transform: translateY(0%);
}

.element3d{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.loading-container.display{
    opacity: 1;
    transform: translateY(0%);
}